<a href="https://colab.research.google.com/github/FabrizioBettetti/Machine_learning/blob/main/Pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction

In [ ]:
import pandas

In [ ]:
pandas.__version__

In [ ]:
import pandas as pd

In [ ]:
pd?

In [ ]:
import numpy as np

#Introducing pandas objects

##The pandas series object

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

In [ ]:
data.values

In [ ]:
data.index

In [ ]:
data[1]

In [ ]:
data[1:3]

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

In [ ]:
data['b']

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

In [ ]:
data[5]

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)   #Default behavior: index = sorted keys
population

In [ ]:
population['California']

In [ ]:
population['California':'Illinois']

In [ ]:
pd.Series([2, 4, 6])

In [ ]:
pd.Series(5, index=[100, 200, 300])

In [ ]:
pd.Series({2: 'a', 1: 'b', 3: 'c'})

In [ ]:
pd.Series({2: 'a', 1: 'b', 3: 'c'}, index=[3, 2])

##The pandas dataframe object

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

In [ ]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

In [ ]:
states.index

In [ ]:
states.columns

In [ ]:
states['area']

In [ ]:
pd.DataFrame(population, columns=['population'])

In [ ]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

In [ ]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

In [ ]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

In [ ]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(A)

##The pandas index object

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

In [ ]:
ind[1]

In [ ]:
ind[::2]

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

In [ ]:
ind[1] = 0   #Error: Index objects are immutable

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

indA & indB   #Intersection

In [ ]:
indA.intersection(indB)

In [ ]:
indA | indB   #Union

In [ ]:
indA ^ indB   #Symmetric difference (A \ B) U (B \ A)

#Data indexing and selection

##Data selection in series

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

In [ ]:
data['b']

In [ ]:
'a' in data   #Like dictionaries

In [ ]:
data.keys()   #Like dictionaries

In [ ]:
data.items()   #Like dictionaries

In [ ]:
data['e'] = 1.25   #Extend series like a dictionary
data

In [ ]:
data['a':'c']   #Slicing by explicit index (with explicit index 'c' is INCLUDED)

In [ ]:
data[0:2]   #Slicing by implicit integer index (with implicit index 2 is EXCLUDED)

In [ ]:
data[(data > 0.3) & (data < 0.8)]   #Masking

In [ ]:
data[['a', 'e']]   #Fancy index

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

In [ ]:
data[1]   #With EXPLICIT INTEGER indices, in data[1], 1 is an EXPLICIT index

In [ ]:
data[1:3]   #With EXPLICIT INTEGER indices, slicing refers to IMPLICIT indeces

In [ ]:
#loc: explicit index
data.loc[1]

In [ ]:
data.loc[1:3]

In [ ]:
#iloc: implicit index

In [ ]:
data.iloc[1]

In [ ]:
data.iloc[1:3]

In [ ]:
data.ix[1]

In [ ]:
data.ix[1:3]

##Data selection in DataFrame

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area': area, 'pop': pop})
data

In [ ]:
data['area']

In [ ]:
data.area

In [ ]:
data.area is data['area']   #Same object

In [ ]:
data.pop is data['pop']   #pop is a method of the DataFrame and cannot be used as a column name attribute.
                          #In this case use data['pop'] = z rather than data.pop = z

In [ ]:
data['density'] = data['pop'] / data['area']