<a href="https://colab.research.google.com/github/FabrizioBettetti/Machine_learning/blob/main/Pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction

In [ ]:
import pandas

In [ ]:
pandas.__version__

'2.2.2'

In [ ]:
import pandas as pd

In [ ]:
pd?

In [ ]:
import numpy as np

#Introducing pandas objects

##The pandas series object

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
data[1]

np.float64(0.5)

In [ ]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data['b']

np.float64(0.5)

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [ ]:
data[5]

np.float64(0.5)

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)   #Default behavior: index = keys
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
population['California']

np.int64(38332521)

In [ ]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [ ]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [ ]:
pd.Series({2: 'a', 1: 'b', 3: 'c'})

2    a
1    b
3    c
dtype: object

In [ ]:
pd.Series({2: 'a', 1: 'b', 3: 'c'}, index=[3, 2])

3    c
2    a
dtype: object

##The pandas dataframe object

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [ ]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [ ]:
states.columns

Index(['population', 'area'], dtype='object')

In [ ]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [ ]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [ ]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [ ]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.873372  0.477805
b  0.472030  0.659970
c  0.820343  0.880336

In [ ]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

##The pandas index object

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [ ]:
ind[1]

np.int64(3)

In [ ]:
ind[::2]

Index([2, 5, 11], dtype='int64')

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [ ]:
#ind[1] = 0   #Error: Index objects are immutable

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

indA.intersection(indB)   ###Verifica!

Index([0, 3, 5, 7, 9], dtype='int64')

In [ ]:
indA.union(indB)

Index([3, 3, 5, 7, 11], dtype='int64')

In [ ]:
indA.symmetric_difference(indB)   #(A \ B) U (B \ A)

Index([3, 0, 0, 0, 2], dtype='int64')

#Data indexing and selection

##Data selection in series

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data['b']

np.float64(0.5)

In [ ]:
'a' in data   #Like dictionaries

True

In [ ]:
data.keys()   #Like dictionaries

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
list(data.items())   #Like dictionaries   ###Verifica!

In [ ]:
data['e'] = 1.25   #Extend series like a dictionary
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [ ]:
data['a':'c']   #Slicing by explicit index (with explicit index 'c' is INCLUDED)

a    0.25
b    0.50
c    0.75
dtype: float64

In [ ]:
data[0:2]   #Slicing by implicit integer index (with implicit index 2 is EXCLUDED)

a    0.25
b    0.50
dtype: float64

In [ ]:
data[(data > 0.3) & (data < 0.8)]   #Masking

b    0.50
c    0.75
dtype: float64

In [ ]:
data[['a', 'e']]   #Fancy index

a    0.25
e    1.25
dtype: float64

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [ ]:
data[1]   #With EXPLICIT INTEGER indices, in data[1], 1 is an EXPLICIT index

'a'

In [ ]:
data[1:3]   #With EXPLICIT INTEGER indices, slicing refers to IMPLICIT indeces

3    b
5    c
dtype: object

In [ ]:
#loc: explicit index
data.loc[1]

'a'

In [ ]:
data.loc[1:3]

1    a
3    b
dtype: object

In [ ]:
#iloc: implicit index
data.iloc[1]

'b'

In [ ]:
data.iloc[1:3]

3    b
5    c
dtype: object

##Data selection in DataFrame

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area': area, 'pop': pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [ ]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data.area is data['area']   #Same object

True

In [ ]:
data.pop is data['pop']   #pop is a method of the DataFrame and cannot be used as a column name attribute.
                          #In this case use data['pop'] = z rather than data.pop = z

False

In [ ]:
data['density'] = data['pop'] / data['area']
data

In [ ]:
data.values

In [ ]:
data.T

In [ ]:
data.values[0]

In [ ]:
data['area']

In [ ]:
data.iloc[:3, :2]

In [ ]:
data.loc[:'Illinois', :'pop']

In [ ]:
data.ix[:3, :'pop']

In [ ]:
data.loc[density > 100, ['pop', 'density']]

In [ ]:
data.iloc[0, 2] = 90
data

In [ ]:
data['Florida':'Illinois']

In [ ]:
data[1:3]

In [ ]:
data[data.density > 100]

#Operating on data in pandas

##Ufuncs: index preservation

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

In [ ]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

In [ ]:
np.exp(ser)   #Indices preserved

In [ ]:
np.sin(df * np.pi / 4)   #Indices and columns preserved

##Ufuncs: index alignment

In [ ]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [ ]:
area

In [ ]:
population / area   #Contains the union of the indices

In [ ]:
area.index.union(population.index)

In [ ]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

In [ ]:
A.add(B, fill_value=0)

In [ ]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)), columns=list('AB'))
A

In [ ]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)), columns=list('BAC'))
B

In [ ]:
A + B

In [ ]:
A.stack()

In [ ]:
fill = A.stack().mean()   #Mean of the entire dataframe A
A.add(B, fill_value=fill)

##Ufuncs: operations between dataframe and series

In [ ]:
A = rng.randint(10, size=(3, 4))
A

In [ ]:
A - A[0]

In [ ]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]